@font-face {
    font-family: 'minimalist';
    src: url('../docs/minimalist-font.woff') format('truetype');
}

.inset-4-0 {
    top: 4%;
    left: 0%;
}
.inset-20-75 {
    top: 20%;
    left: 75%;
}
.inset-60-33 {
    top: 60%;
    left: 33%;
}

.content {
    grid-template-rows: auto 3fr auto;
    grid-template-columns: 1fr;
}

.font-mini {
    font-family: 'minimalist', sans-serif;
}

.field-cards {
  background: linear-gradient(to right, #9ca3af 35%, #e5e7eb 60%, #f3f4f6 100%);
  box-shadow: 10px -10px 10px -5px rgb(14 0 0 / 30%);
}
.field-title {
  box-shadow: 10px -10px 10px -5px rgb(14 0 0 / 30%);
}

#cv {
  font-size: 12pt !important;
}

.progress-bar {
  transition: all 2s;
  transition-timing-function: cubic-bezier(0.66, 0.68, 0, 1.24)
}